#customers-table,#users-table,#products-table > tbody > tr > td {
    white-space: pre-wrap !important;
    word-wrap:break-word;
}
.img_hover img{
    visibility: hidden;
    position:absolute;
    z-index: 1;
    transition: all 0.3s ease;
    transform: scale(0);

    width: 600px;
}
.img_hover:hover img{
    visibility: visible;
    transform: scale(1);
    margin: auto;
}
.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}
.lable-upload-file {
    background-color: rgb(11, 11, 235);
    color: white;
    padding: 0.5rem;
    /* font-family: sans-serif; */
    /* border-radius: 0.3rem; */
    cursor: pointer;
    /* margin-top: 1rem; */
  }

#file-chosen{
    /* margin-left: 0.3rem; */
    font-family: sans-serif;
}

.modal-lg {

    min-width:70%;
}
#cke_1_top{
    height: 100px !important;
}
#cke_1_contents {
    /* editing area */
    height: 100px !important;
}
.hoverDisplayImage span {
    display: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: black;
    background: white;
  }

  .hoverDisplayImage {
    text-decoration: none;
    position: relative;
  }

  .hoverDisplayImage span img {
    float: left;
    height: 200px;
    width: 320px;
  }

  .hoverDisplayImage:hover span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: auto;
    max-width: 320px;
    min-height: 128px;
    border: 1px solid rgb(198, 196, 196);
    margin-top: 12px;
    margin-left: 32px;
    overflow: hidden;
    /* padding: 8px; */
  }

.width-40 {
    width: 40px;
}

.dataTables_paginate{
    /* width: 70%; */
    text-align: center;
}
.paginate_button {
    /* font-weight: bold; */
    color: black;
    /* border: 1px solid !important; */
}

.dataTables_wrapper .dataTables_paginate {
    text-align: center !important;
    float: none !important;
    padding: 4px !important;
}

.dataTables_wrapper .dataTables_info {
    float: none !important;
    padding: 0px !important;
}

#products-table_wrapper.wrapper {
   display: flex !important;
   justify-content: space-between;
}

.dataTables_wrapper .dataTables_length label {
    margin-bottom: 0px;
}

.content-header {
    padding-bottom: 0px;
}

#search-product {
    padding-bottom: 0px;
}

#search-user {
    padding-bottom: 0px;
}
